.h7 {
    font-size: 0.8rem;
}

.gedf-card {
    margin-bottom: 2.77rem;
}

a {
    text-decoration: none;
}

.link-dark:hover {
    text-decoration: underline;
    color: blue;
}

.article-reaction-off {
    text-decoration: none;
    color: black;
}

.article-reaction-on {
    text-decoration: none;
    color: blue;
}

.article-numbers {
    --bs-breadcrumb-divider: '\00b7';
}