<div *ngIf="isLoggedIn" class="card">
    <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">
            <div class="chat-list p-1">
                <a *ngFor="let chat of chats" (click)="setActiveChat(chat)" class="list-group-item list-group-item-action border-0" style="cursor: pointer;">
                    <app-chat-row [chat]="chat"></app-chat-row>
                </a>
            </div>

            <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-7 col-xl-9">
            <div *ngIf="activeChat">
                <app-active-chat [chat]="activeChat"></app-active-chat>
            </div>
        </div>
    </div>
</div>