<div *ngIf="currentUser; else loggedOut" class="gedf-wrapper">
    <div class="row">
        <div class="col-md-2">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{{ profilePicPath }}" alt="mdo" width="80" height="80" class="bi d-block mx-auto mb-1 rounded-circle">
                    <div class="h5">{{ currentUser.firstname }} {{ currentUser.lastname }}</div>
                    <div class="h7">{{ headline }}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a routerLink="network" class="h6 text-muted">Connections</a>
                        <div class="h5">{{ totalConnections }}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 gedf-main">
            <div class="card gedf-card">
                <div class="card-body">
                    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                        <form [formGroup]="newArticleForm" (ngSubmit)="createArticle()">
                            <div class="mb-2">
                                <textarea class="form-control" id="text" rows="3" formControlName="text" [ngClass]="{'form-control': true, 'is-invalid': newArticleFieldIsInvalid('text')}" aria-describedby="textFeedback" placeholder="Start a post"></textarea>
                                <div *ngIf="newArticleFieldHasError('text','required')" id="textFeedback" class="invalid-feedback">
                                    Write something.
                                </div>
                            </div>
                            <div class="d-flex bd-highlight">
                                <div class="bd-highlight pe-1">
                                    <label for="img-upload" class="btn btn-outline-secondary">
                                        <i class="fas fa-camera"></i>
                                    </label>
                                    <input id="img-upload" type="file" class="form-control" accept="image/png, image/jpeg, image/jpg" formControlName="image" (change)="onImageFileChange($event)" multiple/>
                                </div>
                                <div class="bd-highlight ps-1">
                                    <label for="vid-upload" class="btn btn-outline-secondary">
                                        <i class="fas fa-video"></i>
                                    </label>
                                    <input id="vid-upload" type="file" class="form-control" accept="video/mp4" (change)="onVideoFileChange($event)" multiple/>
                                </div>
                                <div class="ms-auto bd-highlight">
                                    <button type="submit" class="btn btn-primary">Post</button>
                                </div>
                            </div>
                            <div *ngIf="articleImages.length > 0">
                                Images:
                                <ul>
                                    <li *ngFor="let img of articleImages">{{ img.name }}</li>
                                </ul>
                            </div>
                            <div *ngIf="articleVideos.length > 0">
                                Videos:
                                <ul>
                                    <li *ngFor="let vid of articleVideos">{{ vid.name }}</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="articleLoading" class="d-flex justify-content-center py-2">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div *ngFor="let article of articles">
                <app-article [article]="article"></app-article>
            </div>
        </div>
    </div>
</div>
<ng-template #loggedOut>
    <div class="hero hero--with-form">
        <h1 class="hero__headline hero__headline--basic">
          Welcome to your professional community
        </h1>
        <img class="hero__illustration--desktop flip-rtl lazy-loaded" alt="Welcome to your professional community" src="https://static-exp1.licdn.com/sc/h/dxf91zhqd2z6b0bwg85ktm5s4">
    </div>
</ng-template>