.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
}

.gedf-card {
    margin-bottom: 1rem;
}

input[type="file"] {
    display: none;
}

.link-dark:hover {
    text-decoration: underline;
    color: blue;
}