.global-nav__logo {
    color: #0a66c2;
}

.badge {
    float: right;
    margin-left: -45px;
    padding: 4px;
    font-size: 13px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}