.profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
    z-index: 0;
}

.profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
}


.profile-pic-notme {
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
}

.profile-pic-notme img {
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
    border-radius: 100px;
    z-index: 0;
}

.edu-info {
    --bs-breadcrumb-divider: ',';
}

.exp-info {
    --bs-breadcrumb-divider: '\00b7';
}

.edu-info .breadcrumb .breadcrumb-item {
    padding-left: 0px;
}
