<div class="d-grid gap-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Connection Requests
        </div>
        <div class="card-body">
          <div *ngFor="let fr of friendRequests">
            <app-friend-request [request]="fr"></app-friend-request>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Notifications
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>