<div class="text-center">
  <form class="form-signup" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Sign up</h1>

    <input type="firstname" id="firstname" formControlName="firstname" class="form-control" placeholder="First Name" required>
    <div *ngIf="firstname && firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
      <div *ngIf="firstname.errors?.required">
        First Name is required.
      </div>
    </div>

    <input type="lastname" id="lastname" formControlName="lastname" class="form-control" placeholder="Last Name" required>
    <div *ngIf="lastname && lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">
      <div *ngIf="lastname.errors?.required">
        Last Name is required.
      </div>
    </div>

    <input type="phone" id="phone" formControlName="phone" class="form-control" placeholder="Phone" required>
    <div *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
      <div *ngIf="phone.errors?.required">
        Phone is required.
      </div>
    </div>

    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" required>
    <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors?.required">
        Email is required.
      </div>
      <div *ngIf="email.errors?.email">
        Please enter a valid email address.
      </div>
    </div>

    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
    <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors?.required">
        Password is required.
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</div>