<div class="text-center">
  <form class="form-signup" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="assets/linkedin.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-group">
      <input type="text" id="firstname" formControlName="firstname" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('firstname')}" placeholder="First Name" aria-describedby="registerFnameFeedback" required>
      <div *ngIf="fieldHasError('firstname','required')" id="registerFnameFeedback" class="invalid-feedback">
        First Name is required.
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="lastname" formControlName="lastname" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('lastname')}" placeholder="Last Name" aria-describedby="registerLnameFeedback" required>
      <div *ngIf="fieldHasError('lastname','required')" id="registerLnameFeedback" class="invalid-feedback">
        Last Name is required.
      </div>
    </div>

    <div class="form-group">
      <input type="text" id="phone" formControlName="phone" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('phone')}" placeholder="Phone" aria-describedby="registerPhoneFeedback" required>
      <div *ngIf="fieldHasError('phone','required')" id="registerPhoneFeedback" class="invalid-feedback">
        Phone is required.
      </div>
    </div>

    <div class="form-group">
      <input type="email" id="email" formControlName="email" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('email')}" placeholder="Email address" aria-describedby="registerEmailFeedback" required>
      <div *ngIf="fieldHasError('email','required')" id="registerEmailFeedback" class="invalid-feedback">
        Email is required.
      </div>
      <div *ngIf="fieldHasError('email','email')" id="registerEmailFeedback" class="invalid-feedback">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group">
      <input type="password" id="password" formControlName="password" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('password')}" placeholder="Password" aria-describedby="registerPasswordFeedback" required>
      <div *ngIf="fieldHasError('password','required')" id="registerPasswordFeedback" class="invalid-feedback">
        Password is required.
      </div>
    </div>

    <div class="form-group">
      <input type="password" id="repeatPassword" formControlName="repeatPassword" [ngClass]="{'form-control': true, 'is-invalid': fieldIsInvalid('repeatPassword')}" placeholder="Repeat Password" aria-describedby="repeatPasswordFeedback" required>
      <div *ngIf="fieldHasError('repeatPassword','required')" id="repeatPasswordFeedback" class="invalid-feedback">
          Repeat password is required.
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div *ngIf="registerFromInvalid && newUserForm.errors?.passwordsDoNotMatch" class="alert alert-danger">
      Passwords do not match.
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</div>